
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<center>
    <div class="about">
        <div class="container">
            <div class="row d_flex">
                <div class="col-md-5">
                    <div class="about_img">
                        <figure><img src="~/Content/images/glass5.png" alt="#" /></figure>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="titlepage">
                        <h2>About Our Shop</h2>
                        <p>Fency Gogles Shop Center.</p>
                    </div>
                    <a class="read_more" href="#">Read More</a>
                </div>
            </div>
        </div>
    </div>
</center>





