
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}


<center>
    <div class="glasses">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="titlepage">
                        <h2>Our Glasses</h2>
                        <p>
                            Fency Gogles Service center
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="glasses_box">
                        <figure><img src="~/Content/images/glass6.png" alt="#" /></figure>
                        <h3><span class="blu">RPS</span>500</h3>
                        <p>Sunglasses</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="glasses_box">
                        <figure><img src="~/Content/images/glass7.png" alt="#" /></figure>
                        <h3><span class="blu">RPS</span>500</h3>
                        <p>Sunglasses</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="glasses_box">
                        <figure><img src="~/Content/images/glass5.png" alt="#" /></figure>
                        <h3><span class="blu">RPS</span>500</h3>
                        <p>Sunglasses</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="glasses_box">
                        <figure><img src="~/Content/images/glass1.png" alt="#" /></figure>
                        <h3><span class="blu">RPS</span>500</h3>
                        <p>Sunglasses</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="glasses_box">
                        <figure><img src="~/Content/images/glass6.png" alt="#" /></figure>
                        <h3><span class="blu">RPS</span>500</h3>
                        <p>Sunglasses</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="glasses_box">
                        <figure><img src="~/Content/images/glass2.png" alt="#" /></figure>
                        <h3><span class="blu">RPS</span>500</h3>
                        <p>Sunglasses</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="glasses_box">
                        <figure><img src="~/Content/images/glass8.png" alt="#" /></figure>
                        <h3><span class="blu">RPS</span>500</h3>
                        <p>Sunglasses</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="glasses_box">
                        <figure><img src="~/Content/images/glass3.png" alt="#" /></figure>
                        <h3><span class="blu">RPS</span>500</h3>
                        <p>Sunglasses</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <a class="read_more" href="#">Read More</a>
                </div>
            </div>
        </div>
    </div>
</center>




